.header {
    background: url('../src/banner_NIT_banner.jpg') no-repeat;
    width: 95%;
    height: 490px;
    margin: auto;
    border-radius: 46px;
    box-shadow: 2px 2px 2px 2px pink;
}
.travells-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    line-height: 40px;
    width: 39%;
    float: right;
    background: rgba(0, 0, 0, 0.05);
    margin-top: 8%;
}
.table-cell {
    display: inline-block;
    width: 35px;
    background-color: gainsboro;
    border: 1px solid black;
    margin: 1px;
    text-align: center;
    border-radius: 8px;
}
.table-cell-reserved {
    display: inline-block;
    width: 35px;
    background-color: rgb(83, 69, 69);
    border: 1px solid black;
    margin: 1px;
    text-align: center;
    border-radius: 8px;
}
.table-cell-selected {
    display: inline-block;
    width: 35px;
    background-color: rgb(15, 255, 75);
    border: 1px solid black;
    margin: 1px;
    text-align: center;
    border-radius: 8px;
}
.tableD {
    background-color: wheat;
    border: 2px solid black;
    text-align: center;
    width: 200px;
}
h2{
    color: #373737;
    text-align: center;
    -webkit-text-stroke: 1px bisque;
    font-size: 218%;
    margin: 0;
}
body {
    margin: 0;
}
.buttons {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(255,255,255,0.05);
   }
button {
    margin: 14px;
    color:white;
    background: transparent;
    border: 2px solid#f2ca69;
    border-radius: 15px;
    width: 170px;
    cursor: pointer;
    padding:10px;
}

.gradient{
    margin:0;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
.bus-bg {
    background: url('../src/sahara-bus-travels-service-500x500.png') no-repeat;
    height: 500px;
    background-size: contain;
    margin-top: 4%;
}
#seats {
    width: 226px;
}
label {
    color: white;
    margin-right: 24px;
}
input, select {
    background: transparent;
    border: 1.5px solid lightblue;
    color: #fff;
    border-radius: 5px;
    width: 226px;
}
.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    float: right;
    align-items: center;
}
#preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.output {
    border: 2px solid black;
}
#preview > button:nth-child(2) {
    border-color: black;
    color: black;
   }
   
