/* body {
    margin:0;
    background: var(--bgColor);
    background: linear-gradient(180deg, var(--bgColor) 25%, var(--bgColor) 25%, var(--fontColor) 25%); 
    height: 100vh;
}
.Home {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HomeContainer{
    display: flex;
    height: 95%;
    width:95%;
} */


body {
    margin:0;
    background: rgb(30,190,165);
    background: linear-gradient(180deg, rgba(30,190,165,1) 25%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 25%); 
    height: 100vh;
    font-family: Liberation Sans;
}
.Home {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.HomeContainer{
    display: flex;
    height: 100%;
    width:100%;
}